@font-face {
  font-family: 'BebasNeue';
  src: url('../lib/fonts/BebasNeue Regular.otf') format('opentype'),
       url('../lib/fonts/BebasNeue Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../lib/fonts/BebasNeue Thin.otf') format('opentype'),
       url('../lib/fonts/BebasNeue Thin.ttf') format('truetype');;
  font-weight: 100;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../lib/fonts/BebasNeue Light.otf') format('opentype'),
       url('../lib/fonts/BebasNeue Light.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../lib/fonts/BebasNeue Book.otf') format('opentype'),
       url('../lib/fonts/BebasNeue Book.ttf') format('truetype');;
  font-weight: 300;
} 
@font-face {
  font-family: 'BebasNeue';
  src: url('../lib/fonts/BebasNeue Bold.otf') format('opentype'),
       url('../lib/fonts/BebasNeue Bold.ttf') format('truetype');
  font-weight: 700;

}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BebasNeue';
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #666565;
}

ul, nav {
  list-style: none;
  display: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  color: #666565;
}

p {
  letter-spacing: 1px;
  word-spacing: 1.5px;
  color: #666565;
}

.main-container{
  width: 80%;
  margin: 0 auto;
}

.seperator {
  position: relative;
  height: 32px;
  margin: 45px 0;
}

.seperator img {
  position: absolute;
  right: 0;
}

.bg-blue {
  background: url(../img/dots_pattern_blue.png) repeat;
}
.bg-green {
  background: url(../img/dots_pattern_green.png) repeat;
}
.bg-orange {
  background: url(../img/dots_pattern_orange.png) repeat;
}

.conifer {
  background-color: #b4e038;
  border-color: #b4e038;
  color: #b4e038;
}

.pink {
  color: #ed0f4b;
  background-color: #ed0f4b;
}

.turquoise {
  background-color: #17d7e8;
  border-color: #17d7e8;
  color: #17d7e8;
}

.purple {
  color: #ba80ff;
  background-color: #ba80ff;
}

.gold {
  background-color: #ffd000;
  color: #ffd000;
}

.atlantis {
  color: #72d431;
  background-color: #72d431;
}

.orange {
  color: #ffa938;
  background-color: #ffa938;
}

.indigo {
  color: #1a0d66;
}

.cerulean {
  color: #0098d9;
  background-color: #0098d9;
}

.blue {
  color: #2F98D4;
}

.puerto_rico {
  color: #4ec7af; 
}

.shamrock {
  color: #3ed1b3;
  background-color: #3ed1b3;
}

.picton {
  color: #36bbe3;
  background-color: #36bbe3;
}

.carrot {
  color: #ffa438;
}

.yellow {
  color: #ffcb00;
}

.royal_blue {
  color: #5f4eee;
}

.tuna {
  color: #3b3d47;
}

.white {
  color: #ffffff
}

.black {
  color: #000000;
}

.text_shadow {
  text-shadow: 1px 1px 2px #000000;
}

.btn a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 43px;
  font-size: 30px;
  border: 1px solid #000000;
}

.btn a span {
  background-color: transparent;
}

form {
  margin-top: 25px;
}

.field-wrap {
  display: flex;
  justify-content: flex-end;
}

.field-wrap .field {
  flex: 1 1 0;
  margin: 1.5% 2.5% 1% 0;
}

.field-wrap .field:last-child {
  margin-right: 0;
}

input, textarea, select {
  position: relative;
  font-family: 'BebasNeue';
  width: 100%;
  height: 100%;
  padding: 11px 10px;
  border: 1px solid #b8ac9c;
  outline: none;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #000000;
}

select {
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position: 97%;
  cursor: pointer;
  color: #c6c6c6;
}

textarea {
  min-height: 150px;
}

::placeholder {
  color: #c6c6c6;
  text-transform: uppercase;
}

input:focus , textarea:focus {
  border: 1px solid #000000;
}

.form .btn-submit {
  font-family: 'BebasNeue';
  width: 200px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 2px 0;
  background: transparent;
  border: 1px solid #000000;
}

.form button span {
  background-color: transparent;
}

/*==========================
Header
==========================*/

header {
  position: fixed;
  left: 0;
  right: 0;
  height: 76px;
  display: flex;
  background: #ffffff;
  z-index: 999;
}

header .logo {
  padding: 31px 0 0 18px;
}

header .nav-btn label {
  position: relative;
  right: 30px;
  cursor: pointer;
}
header #nav-check, header nav .dropdown #drop-check, header nav .sub-menu {
  display: none;
}

header nav .menu .menu-item a, header nav .toggle {
  font-size: 25px;
  font-weight: 300;
}

header nav .toggle {
  display: block;
  cursor: pointer;
  color: #666565;
}

header nav .sub-menu .sub-menu-item {
  margin: 10px;
  padding: 10px;
}

header nav .sub-menu .sub-menu-item a {
  font-size: 30px;
  background-color: transparent;
}

header nav .sub-menu-list {
  padding-left: 20px;
  margin-top: 10px;
  color: #fff;
}

header nav .sub-menu-list .sub-menu-list-item {
  padding: 5px;
  padding-left: 0;
  border-bottom: 1px solid #e8e8e8; 
}

header nav .sub-menu-list .sub-menu-list-item a {
  font-size: 25px;
  line-height: 1.8;
  font-weight: 300;
  color: #666565;
}

#drop-check:checked ~ .sub-menu {
  display: block;
  position: static; 
}

.mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: #ffffff;
  display: none;
}

@media only screen and (max-width: 768px) {
  header .nav-btn {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #36c0e8;
  }

  header .nav-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
  }

  header nav {
    padding: 30px 15px;
    height: 92vh;
    overflow-y: auto;
  }

  header nav .menu .menu-item {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  header #nav-check:not(:checked) ~ .nav-container {
    height: 0;
  }

  header #nav-check:checked ~ .nav-container {
    width: 100%;
    height: auto;
  }

  header nav .dropdown > a {
    display: none;
  }

}

@media only screen and (min-width: 769px) {

  header .logo {
    padding-left: 30px;
  }

  header .nav-btn {
    display: none;
  }

  header .nav-container {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid #36c0e8;
  }

  header nav {
    position: relative;
    padding-right: 30px;
  }

  header nav .toggle {
    display: none;
  }

  header nav .menu .menu-item {
    margin: 0 15px;
    padding-bottom: 10px;
  }

  header nav .menu .menu-item a {
    font-size: 18px;
  }

  header nav .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #36c0e8;
    border-top: none;
    padding: 15px;
    margin: 0 8px;
    box-shadow: 0 -15px 0 #fff, 0 1px 15px rgba(0,0,0, .2);
  }

  header nav .menu .menu-item:hover .sub-menu {
    display: flex;
  }

  header nav .sub-menu .sub-menu-item a {
    font-size: 30px;
  }

  header nav .sub-menu-list {
    padding: 0;
  }

  header nav .sub-menu-list .sub-menu-list-item {
    border: none;
    padding: 0;
  }

  header nav .sub-menu-list .sub-menu-list-item a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 901px) {
  header nav .menu .menu-item a {
    font-size: 20px;
  }
}

/*==========================
Sections
==========================*/

.section-title {
  position: relative;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 0.9;
}

.section-title span {
  background-color: transparent;
}
.section-title:before, .section-title:after {
  content: "";
  position: absolute;
  height: 1px;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.section-title span {
  display: block;
  font-size: 55px;
}

.section-description, .description {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  word-spacing: 2px;
  margin-bottom: 0;
}

.section-description:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  left: -10px;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

@media only screen and (min-width: 469px) {
  .section-title {
    font-size: 40px;
  }
  .section-title span {
    font-size: 70px;
  }
  .section-description, .description {
    font-size: 25px;
  }
}

.pink-hr:before {
  background: #e80f4b;
}

.orange-hr:before {
  background-color: #ffa938;
}

.cerulean-hr:before {
  background-color: #0098d9;
}

.atlantis-hr:before {
  background-color: #72d431;
}

.purple-hr:before {
  background-color: #ba80ff;
}

.picton-hr:before {
  background-color: #36c0e8;
}

.gold-hr:before {
  background-color: #ffd000;
}

/*==========================
Flex-Container
==========================*/
.flex-container {
  display: flex;
  flex-wrap: wrap
}

.flex-inner {
  position: relative;
  flex: 100%;
  margin: 0;
}

@media only screen and (min-width: 901px) {
  .flex-inner {
    flex: 1 1 48%;
    margin: 1%;
  }
}

/*==========================
Hero
==========================*/

.hero .slider-hero, .pages .hero {
  width: 100%;
  margin: 0 auto;
  padding-top: 126px;
}

.hero .slide .slide-container {
  position: relative;
  margin: 0 0 50px;
  z-index: 1;
}

.hero .slide .slide-container img {
  height: 320px;
  width: 100%;
}

.hero .slide .slide-container .slide-content {
  position: absolute;
  top: 5%;
  right: 3%;
  left: 3%;
  bottom: 5%;
  display: flex;
  justify-content: flex-end;
}

.hero .slide .slide-container .main {
  justify-content: space-between;
}

.hero .slide .slide-content .left {
  width: 60%;
}

.hero .slide .slide-content .slide-header {
  font-size: 30px;
  line-height: 1;
}

.hero .slide .slide-content .slide-sub-header {
  font-size: 45px;
  line-height: 0.8;
  background-color: transparent;
}

.hero .slide .slide-content .slide-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
}

.hero .slide .slide-content .right .value {
  margin: 0;
  font-size: 35px;
  color: #000000;
}

.hero .slide .slide-content .right .specs {
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #ffa938;
  margin-bottom: 15px;
}

.hero .slide .slide-content .right .spec {
  margin-left: 15px;
}

.hero .slide .slide-container .right .spec > span {
  display: block;
}

.hero .slide .slide-container .text-right {
  width: 65%;
  text-align: right;
}

.hero .slide .slide-content .bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2%;
}

.hero .slide .slide-content .bottom .slide-btn {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  padding: 5.5px 70.9px;
  border: 1px solid #ffffff;
}

.hero .slick-dots {
  position: relative;
  bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero .slick-dots li {
  margin: 0 0.5rem;
}

.hero .slick-dots button {
  display: block;
  width: 1rem;
  height: 4px;
  padding: 0;
  border: none; 
  outline: none;
  background-color: #dddbcf;
  text-indent: -9999px;
}
.hero .slick-dots li.slick-active button {
  background-color: #ED0F4B;
  height: 1rem;
}

.hero .slick-dots li.slick-active:nth-child(2) button, .hero .slick-dots li.slick-active:nth-child(3) button {
  background-color: #ba80ff;
}

.hero .slick-dots li.slick-active:nth-child(4) button {
  background-color: #17d7e8;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px 70px 70px;
  position: relative;
}

.hero .container .button-center .scroll-btn {
  font-size: 20px;
  font-weight: 300;
  color: #ed0f4b;
}

.hero .container .button-center img {
  margin-left: 10px;
  vertical-align: middle;
}

.hero .container .button-right {
  position: absolute;
  right: 40px;
  bottom: 0;
}

.hero .container .button-right .contact-btn {
  font-size: 30px;
  color: #666565;
  border-radius: 50px;
  width: 150px;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

@media only screen and (min-width: 469px) {
  .hero .slide .slide-content .slide-header {
    font-size: 35px;
  }
  .hero .slide .slide-content .slide-sub-header {
    font-size: 50px;
  }
  .hero .slide .slide-content .slide-text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) {
  .hero .slide .slide-content .left {
    width: 42%;
  }
  .hero .slide .slide-content .right .specs {
    font-size: 25px;
  }
  .hero .slide .slide-content .right .value {
    font-size: 40px;
  }
  .hero .slide .slide-container .text-right {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .hero .slider-hero, .pages .hero {
    width: 98%;
  }
  .hero .slide .slide-container {
    margin: 50px 20px;
  }
  .bg-layer-one {
    position: absolute;
    right: -10px;
    width: 30%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }
  .bg-layer-two {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 95%;
    height: 75%;
    opacity: 0.85;
    z-index: 0;
  }
  .hero .slide .slide-content .left {
    width: 35%;
  }
  .hero .container {
    padding-bottom: 30px;
  }
  .hero .container .button-right {
    bottom: auto;
  }
  .hero .container .button-right .contact-btn {
    width: 200px;
  }
}

@media only screen and (min-width: 901px) {
  .hero .slide .slide-container img {
    height: auto;
  }
  .hero .slide .slide-content .bottom .slide-btn {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1025px) {
  .hero .slide .slide-content .slide-header {
    font-size: 50px;
  }
  .hero .slide .slide-content .slide-sub-header {
    font-size: 65px;
  }
  .hero .slide .slide-content .slide-text {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1201px) {
  .hero .slider-hero, .pages .hero  {
    width: 85%;
  }
}

@media only screen and (min-width: 1321px) {
  .hero .slide .slide-content .slide-header {
    font-size: 60px;
  }
  .hero .slide .bg-layer-two {
    height: 80%;
  }
  .hero .slide .slide-content .slide-sub-header {
    font-size: 90px;
  } 
}

/*==========================
Industry
==========================*/
.industry {
  padding: 80px 0 200px;
  position: relative;
}

.industry .container {
  width: 80%;
  margin: 0 auto;
}

.industry .industry-sectors .box {
  position: relative;
  flex: 1 1 50%;
  top: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.industry .industry-sectors .box:nth-child(5), .industry .industry-sectors .box:nth-child(6) {
  display: none;
}

.industry .industry-sectors .box .box-content {
  width: 200px;
}

.industry .industry-sectors .box .box-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.industry .industry-sectors .box .box-img {
  margin-bottom: 10px;
}

.industry .seperator_two {
  position: relative;
  top: 60%;
}

.industry .seperator_three {
  position: absolute;
  left: 15%;
  bottom: 3%;
}

.industry .seperator_four {
  position: absolute;
  right: 0;
  bottom: 0;
}

.industry .industry-content {
  position: relative;
  top: 68%;
  left: 35%;
  right: 0;
  width: 60%;
}

.industry .industry-content .section-description {
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.industry .industry-content .section-description:before {
  top: 100%;
  height: 1px;
}

.industry .industry-content .section-title {
  line-height: 1.1;
}

@media only screen and (min-width: 469px) {
  .industry .main-container .section-title:before {
    width: 110%;
    left: -5%;
  }
  .industry .main-container .section-description:before {
    top: -60px;
    left: -15px;
    width: 85%;
    height: 140%;
  }
  .industry .industry-content .section-description {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  .industry .industry-content .section-description:before {
    left: -35%;
    height: 1px;
  }
}

@media only screen and (min-width: 601px) {
  .industry .container {
    width: 95%;
  }
  .industry .main-container .section-description:before {
    height: 160%;
  }
}

@media only screen and (min-width: 769px) {
  .industry .main-container .section-description {
      width: 82%;
  }
}

@media only screen and (min-width: 901px) {
  .industry .industry-sectors .box {
    flex: 1 1 25%;
    align-self: auto;
    margin: 0;
  }
  .industry .industry-sectors .box:nth-child(5), .industry .industry-sectors .box:nth-child(6) {
    display: inherit
  }
  .industry .industry-sectors .box:nth-child(2), .industry .industry-sectors .box:nth-child(7) {
    top: 120px;
  }
  .industry .industry-sectors .box:nth-child(3) {
    top: 240px;
  }
  .industry .industry-sectors .box:nth-child(4) {
    top: 360px;
  }
  .industry .industry-sectors .box:nth-child(n+5) {
    margin: 400px 0 100px 0;
  }
  .industry .industry-content {
    position: absolute;
    left: 15%;
    width: 30%;
  }
  .industry .seperator_two {
    position: absolute; 
  }
}

@media only screen and (min-width: 1201px) {
  .industry .main-container .section-title:before {
    width: 75%;
  }
  .industry .main-container .section-description {
    width: 55%;
  }
  .industry .main-container .section-description:before {
    height: 180%;
  }
  .industry .seperator_two {
    top: 55%;
  }
  .industry .seperator_three {
    left: 15%;
    bottom: 10%;
  }
  .industry .industry-content {
    left: 28%;
    top: 62%;
  }
}

@media only screen and (min-width: 1321px) {
  .industry .industry-content {
    left: 35%;
    width: 20%;
  }
}

/*==========================
Platforms Section
==========================*/
.platforms {
  padding: 100px 0;
  position: relative;
}

.platforms .section-description {
  width: 80%;
}

.platforms .section-description:nth-of-type(1):before {
  top: -60px;
  width: 50%;
  height: 443px;
}

.platforms .section-img {
  position: relative;
  left: 3%;
}

.platforms .section-description:nth-of-type(2) {
  margin: 10% 0 0 auto;
  right: 0;
  text-align: right;
  width: 60%;
}

.platforms .section-description:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -70%;
  width: 60%;
  height: 1px;
}

.platforms .platforms-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.platforms .platforms-content .learning {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 3% 10%;
}

.platforms .platforms-content .learning .btn, .init .init-video {
  order: 1;
  align-self: center;
}

.platforms .platforms-content .learning .learning-type {
  font-size: 30px;
  text-align: center;
  margin: 10px 0 15px;
}

.platforms .seperator {
  height: 95px;
  margin: 0;
}

@media only screen and (min-width: 469px) {
  .platforms .section-title:before {
    width: 55%;
  }
  .platforms .section-description:nth-of-type(1):before {
    left: -30px;    
  }
}

@media only screen and (min-width: 601px) {
  .platforms .section-description:nth-of-type(2) {
    width: 40%;
    right: 20%;
  }
  .platforms .section-description:nth-of-type(2):before {
    width: 120%;
    left: -120%;  
  }
}

@media only screen and (min-width: 901px) {
  .platforms .platforms-content {
    justify-content: flex-end;
  }
  .platforms .platforms-content .learning {
    flex-direction: row;
    margin: 0 0 15% 0;
  }
  .platforms .platforms-content .learning .btn {
    margin-right: 30px;
  }
  .platforms .platforms-content .learning-icon, .init .init-video {
    order: 1;
  } 
  .platforms .platforms-content .learning .learning-type {
    text-align: right;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .platforms .platforms-content .learning-icon img {
    max-width: 160px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1320px) {
  .platforms .platforms-content .learning-icon img {
    max-width: 240px;
  }
}

@media only screen and (min-width: 1201px) {
  .platforms .section-description {
    width: 60%;
  }
}

/*==========================
Init Section
==========================*/
.init {
  padding: 0 0 50px;
  position: relative;
}

.init .flex-container {
  align-items: center;
}

.init .init-video {
  text-align: center;
  z-index: 1; 
}

.init .video-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.init .video-popup .video-play-btn {
  display: block;
}

.init .section-description:before {
  top: -60px;
  height: 150%;
}

.init .btn {
  margin: 50px 0;
}

.init .btn a {
  width: 252px;
}

.init .init-framework {
  margin: 3% 1% 1% 1%;
}

.init .init-framework .box {
  flex: 1 1 29%;
  display: flex;
  margin: 2% 2% 5%;
  align-items: center;
  justify-content: center;
}

.init .box .box-content {
  width: 250px;
}

.init .box .box-content .box-title {
  display: inline-block;
  font-size: 30px;
  width: 65%;
  line-height: 1;
  vertical-align: bottom;
}

.init .init-framework .box .title-span {
  position: relative;
  font-size: 38px;
  padding: 0 10px;
}

.init .init-framework .box .title-span:before {
  content: "";
  position: absolute;
  border: 1px solid #b8ac9c;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.init .box .box-content .section-description {
  margin-left: 10px;
}

.init .box .box-content .description {
  padding-left: 10px;
}

@media only screen and (min-width: 469px) {
  .init .section-header {
      margin-left: 35%;
  }
  .init .section-title:before {
    left: -10%;
    width: 125%;
  }
  .init .section-description:before {
    left: -40px;
    height: 130%;
    width: 120%;
  }
}

@media only screen and (min-width: 901px) {
  .init .section-header {
    margin: 1%;
    order: 1;
  }
}

@media only screen and (min-width: 1201px) {
  .init .section-description:before {
    width: 60%;
    height: 170%;
  }
  .init .init-framework .box {
    justify-content: flex-start;
  }
  .init .init-framework .box:nth-child(n+4) {
      justify-content: flex-end;
  }
}

/*==========================
Testimonials Section
==========================*/
.testimonials {
  padding: 80px 0;
  position: relative;
}

.testimonials .flex-inner {
  margin: 0 0 10%;
}

.testimonials .section-header .section-description {
  width: 60%;
}

.testimonials .section-description:before {
  top: -60px;
}

.testimonials .client-testimonials {
  position: relative;
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
}

.testimonials .slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials .slide-container .slide-content {
  position: relative;
  margin: 0;
  top: -40px;
  z-index: -1;
}

.testimonials .slide-container .slide-content .slide-text {
  position: relative;
  padding: 50px 3% 8% 3.5%;
  overflow: hidden;
}

/*.testimonials .slide-container .slide-text:before {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -1%;
  width: 103px;
  height: 161px;
  background: url(../img/testimonial_panel.png) no-repeat;
}*/

.testimonials .slide-container .slide-content p {
  color: #ffffff;
  margin: 0 0 10px;
}

.testimonials .slide-container .slide-content .client-details {
  margin-top: 20px;
}

.testimonials .slide-container .slide-content .client-details .client-name {
  font-size: 25px;
}

.testimonials .slide-container .slide-content .client-details .designation {
  font-size: 20px;
  font-weight: 300;
  color: #b8ac9c;
}

.testimonials .slider-controls {
  position: absolute;
  bottom: 100px;
  right: 0;
}

.testimonials .slider-controls .prev, .testimonials .slider-controls .next {
  background: #ffffff;
  padding: 0;
  outline: 0;
  border: none;
  cursor: pointer;
}

.testimonials .slider-controls .next {
  margin-left: 15px;
}

@media only screen and (min-width: 469px) {
  .testimonials .section-title:before {
    left: -30%;
  }
  .testimonials .section-description:before {
    left: -40px;
    width: 150%;
    height: 60%;
  }
  .testimonials .client-testimonials {
    width: 360px;
  }
  .testimonials .slider-controls {
    bottom: 75px;
  }
}

@media only screen and (min-width: 769px) {
  .testimonials .client-testimonials {
    width: 600px;
  }
  .testimonials .section-header {
    flex: 35%;
  }
  .testimonials .flex-inner:nth-child(2) {
    flex: 65%;
  }
}

@media only screen and (min-width: 901px) {
  .testimonials .slide-container {
    flex-wrap: nowrap;
  }
  .testimonials .slide-container .slide-content {
    top: 0;
  }
  .testimonials .slide-container .slide-img {
    flex: 20%;
  }
  .testimonials .slide-container .slide-content {
    flex: 75%;
    margin-left: 5%;
  }
  .testimonials .slide-container .slide-content .slide-text {
    padding: 3% 3% 8% 3.5%;
  }
  .testimonials .slide-container .slide-text:before {
    content: "";
    position: absolute;
    bottom: -5%;
    right: -1%;
    width: 103px;
    height: 161px;
    background: url(../img/testimonial_panel.png) no-repeat;
  }
  .testimonials .slider-controls {
    bottom: 35px;
  }
}

@media only screen and (min-width: 1161px) {
  .testimonials .client-testimonials {
    margin-top: 35%;
  }
}

@media only screen and (min-width: 1366px) {
  .testimonials .section-header {
    flex: 30%;
  }
  .testimonials .flex-inner:nth-child(2) {
    flex: 70%;
  }
  .testimonials .client-testimonials {
    width: 760px;
  }
}


/*==========================
Clients Section
==========================*/
.clients {
  padding: 50px 0;
  position: relative;
}

.clients .section-title {
  padding-left: 20%;
}

.clients .section-title:after {
  top: 60%;
  left: 12%;
  width: 40%;
  height: 250%;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

.clients .client_logos {
  width: 85%;
  margin: 0 auto;
}

.clients .box {
  display: flex;
  flex-wrap: wrap;
}

.clients .box .box-img {
  background: #ffffff;
  border: 1px solid #dddbcf;
}

.clients .box .box-img:nth-child(odd) {
  margin: 3% 0;
  margin-left: auto;
}

.clients .box .box-img:nth-child(even) {
  margin: 3% 0;
  margin-right: auto;
}

.clients .client-btn {
  margin: 150px 0 0;
}

.clients .client-btn span {
  background-color: transparent;
}

.clients .client-btn a {
  display: block;
  position: relative;
  font-size: 30px;
  margin: 0 auto;
}

.clients .btn-bottom a {
  width: 461px;
  max-width: 95%;
  padding: 35.5px;
  border: 1px solid #ffa938;
}

.clients .btn-top {
  position: relative;
  top: -38px;
  left: -10px;
}

.clients .btn-top a {
  width: 338px;
  max-width: 80%;
  background: #ffffff;
    text-align: center;
  padding: 18px;
  border: 1px solid #000000;
}

.clients .btn-top a:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -10px;
  width: 100%;
  height: 100%;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

@media only screen and (min-width: 469px) {
  .clients .section-title:before {
    left: -30%;
    width: 65%;
  }
}

@media only screen and (min-width: 725px) {
  .clients .section-title:after {
    left: 15%;
    width: 12%;
  }
  .clients .box {
    position: relative;
    flex-wrap: nowrap;
    left: -20%;
  }
  .clients .box .box-img:nth-child(n) {
    margin: 4% 3%;
  }
  .clients .box:nth-child(2) {
    left: -7%;
  }

  .clients .box:nth-child(3) {
    left: 6%;
  }

  .clients .box:nth-child(4) {
    left: 19%;
  }
}

@media only screen and (min-width: 1025px) {
  .clients .client_logos {
    width: 70%;
  }
  .clients .box .box-img:nth-child(n) {
    margin: 3% 8%;
  }
}

@media only screen and (min-width: 1201px) {
  
}


/*==========================
Awards Section
==========================*/
.awards {
  padding: 50px 0;
  position: relative;
}

.awards .section-title {
  text-align: right;
  right: 10%;
}

.awards .section-title:before {
  left: auto;
}

.awards .section-title:after {
  top: 18%;
  right: -5%;
  left: auto;
  width: 40%;
  height: 200%;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

.awards .box {
  flex: 1 1 0;
  margin: 3%;
}

.awards .box .box-content {
  width: 240px;
  margin: 0 auto;
}

.awards .box .box-img {
  background: #ffffff;
  border: 1px solid #dddbcf;
}

.awards .box .box-text .section-description:before {
  background: none;
}

@media only screen and (min-width: 469px) {
  .awards .section-title:before {
    top: 100%;
    right: -8%;
    width: 43%;
  }
  .awards .section-title:after {
    right: -22%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .awards .box .box-content {
    margin: 1%;
  }
}

/*==========================
Footer
==========================*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #0098d9;
}

footer .footer-left, footer .footer-right {
  flex: 100%;
}

footer .footer-left .footer-col:first-child {
  display: none;
}

footer .footer-left {
  padding: 0 0 0 20px;
}

footer .footer-left .footer-col {
  flex: 1 1 0;
  padding: 60px 0;
}

footer .footer-left .title {
  font-size: 40px;
  background-color: transparent;
  margin-bottom: 30px;
}

footer .footer-left .footer-links .title a {
  color: #ffd000;
}

footer .footer-left .social-media-links li {
  display: inline-block;
  margin: 1px;
}

footer .footer-right .form {
  max-width: 700px;
  padding: 0 20px;
  margin: 60px auto 0;
}

footer .footer-heading {
  font-size: 40px;
  line-height: 0.9;
}

footer .footer-heading span {
  background-color: transparent;
}

footer .field input, footer .field textarea {
  background: #26a7df;
  border: 1px solid #b5e8f6;
  color: #ffffff;
}

footer .field ::placeholder {
  color: #b5e8f6;
}

footer .field input:focus , footer .field textarea:focus {
  border: 1px solid #ffffff;
}

footer .footer-right .atlantis {
  text-align: center;
  padding-top: 20px;
}

footer .footer-right .atlantis > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 15px 0;
}

footer .footer-right .atlantis > div:last-child {
  margin: 0;
}

footer .footer-right .contact-details p {
  font-size: 26px;
}

footer .copyright {
  background: #3b3d47;
  flex: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

footer .copyright ul li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 8px;
}

footer .copyright ul li a {
  color: #ffffff;
}

@media only screen and (min-width: 469px) {
  footer .footer-left{
    padding: 0 3%;
  }
  footer .footer-left .social-media-links li {
    margin: 10px;
  }
}

@media only screen and (min-width: 601px) {
  footer .footer-left {
    padding: 0 10%;
  }
  footer .footer-right .atlantis > div {
    margin-right: 50px;
  }
  footer .copyright ul li {
    font-size: 20px;
    margin: 0 20px;
  }
}

@media only screen and (min-width: 901px) {
  footer .footer-left, footer .footer-right {
    flex: 1 1 50%;
  }
  footer .footer-left {
    border-right: 1px solid #17d7e8;
    padding-left: 50px;
    padding-right: 0;
  }
  footer .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .footer-right .atlantis {
    padding: 0;
  }
  footer .footer-right .atlantis > div {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  footer .footer-left {
    display: flex;
    flex: 60%;
  }
  footer .footer-left .footer-col:nth-child(n) {
    flex: 1 1 0;
    padding-right: 10px;
    display: block;
  }
  footer .footer-left .hide-item {
    display: none;
  }
  footer .footer-left .footer-list {
    margin-bottom: 20px;
  }
  footer .footer-left .footer-list .list-item a {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffffff;
  }
  footer .footer-right {
    flex: 40%;
  }
}

/*==========================
Pages
==========================*/
.pages .section-title {
  margin-bottom: 30px;
}
.pages .section-title:after {
  content: "";
  position: absolute;
  /*width: 100%;*/
  height: 60%;
  top: 50%;
  left: -10px;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

.pages .hero .hero-container {
  position: relative;
}

.pages .hero .bg-layer-one {
  display: none;
}

.pages .hero .hero-bg {
  position: relative;
  z-index: 1;
}

.pages .hero .hero-bg img {
  width: 100%;
}

.pages .hero .hero-content {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
}

.pages .hero .hero-content .content-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pages .hero .hero-content .content-right {
  position: relative;
  align-self: flex-end;
  width: 50%;
  bottom: 15%;
  text-align: right;
}

.pages .hero .hero-content .hero-header {
  font-size: 20px;
  line-height: 1;
}

.pages .hero .hero-content .hero-header span {
  display: block;
  font-size: 35px;
}

.pages .hero .hero-content .hero-text {
  display: none;
  margin-bottom: 0;
  font-weight: 300;
}


/*==========================
Industry Pages
==========================*/
.use-cases {
  padding: 0 0 80px;
}

.products {
  padding: 80px 0;
}

.use-cases .section-header, .use-cases .industry-video {
  margin: 5% 1%;
}

.use-cases .uc-list .uc-item, .pf-app-inner .app-list .app-item {
  font-size: 25px;
  font-weight: 300;
  color: #666565;
  margin-bottom: 25px;
}

.products .section-title {
  text-align: right;
}

.products .section-title:after {
  right: 0;
  left: auto;
}

.products .product-boxes .box {
  width: 100%;
  margin: 20px 0 60px;
}

.products .btn, .case-study .btn {
  margin-top: 20px;
}

.products .product-boxes .box .product-name {
  font-size: 30px;
  margin-top: 30px;
}

.case-study {
  padding-bottom: 80px;
}

.case-study .flex-container .box {
  width: 95%;
  margin: 0 auto;
}

.case-study .box-img {
  margin-bottom: 50px;
}

/*==========================
Platform Pages
==========================*/
.platform-applications {
  padding: 80px 0;
}

.training {
  padding: 120px 0;
}

.training .section-title:after {
  background: none;
}

.training .flex-container {
  margin-top: 80px;
}

.training .flex-inner {
  display: flex;
  justify-content: center;
  margin: 2% 2% 5%;
}

.training .training-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.training .training-method .learning-type {
  font-size: 30px;
  margin-top: 20px;
}

.platform-applications .why-pf .box {
  flex: 1 1 0;
  margin: 15px;
  display: flex;
  align-items: flex-end;
}

.platform-applications .why-pf .box .box-item {
  min-width: 200px;
}

.platform-applications .why-pf .platform-video {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.platform-applications .why-pf .box .box-title {
  font-size: 30px;
}

.platform-applications .why-pf .box .box-title span {
  background-color: transparent;
  font-size: 38px;
}

.platform-applications .why-pf .box .box-title .number {
  font-size: 48px;
}

.pf-desc .pf-desc-inner, .pf-app .pf-app-inner {
  margin: 30px 0;
}

.pf-app-inner .box-img {
  position: relative;
  left: -75px;
  margin-top: 70px;
}

.pf-app-inner .box-content {
  margin-top: 70px;
  position: relative;
  left: -55px;
}

.pf-app-inner .app-list .app-item {
  font-size: 20px;
}

.pf-app-inner .app-list .title {
  font-size: 35px;
  background-color: transparent;
  margin-bottom: 30px;
}

@media only screen and (min-width: 469px) {
  .pages .hero .hero-content .hero-header {
    font-size: 25px;
  }
  .pages .hero .hero-content .hero-header span {
    font-size: 55px;
  }
  .industry-pages .use-cases .section-title:before {
    left: -10%;
    width: 90%;
  }
  .industry-pages .section-title:after {
    width: 70%;
  }
  .use-cases .uc-list .uc-item, .pf-app-inner .app-list .app-item {
    font-size: 30px;  
  }
  .products .section-title:before {
    width: 70%;
    right: -25px;
    left: auto;
  }
  .products .section-title:after {
    width: 62%;
    right: -10px;
  }
  .products .product-boxes .box .product-name {
    font-size: 38px;
  }
  .case-study .section-title:before, .training .section-title:before {
    left: -25px;
  } 
  .training .section-description:before {
    height: 120%;
  }
  .platform-applications .section-title:before {
    left: -25px; 
    width: 110%;
  }
}

@media only screen and (min-width: 601px) {
  .training .flex-inner {
    flex: 1 1 48%;
    margin: 1%;
    justify-content: flex-start;
  }
  .training .flex-inner:nth-child(n+3) {
    justify-content: flex-end;  
  }
  .pf-app-inner .app-list .title {
    font-size: 40px;
  }
  .pf-app-inner .app-list .app-item {
    font-size: 30px;  
  }
}

@media only screen and (min-width: 768px) {
  .pages .hero .hero-bg {
    padding: 50px 30px;
  }
  .pages .hero .bg-layer-one {
    display: block;
    width: 20%;
    height: 75%;
    right: 0;
  }
  .pages .hero .bg-layer-two {
    background-color: transparent;
    border: 5px solid;
    top: 20px;
    left: 0;
    width: 85%;
    height: 70%;
  }
  .pages .hero .hero-bg img {
    height: 250px;
  }
  .pages .hero .hero-content {
    left: 40px;
    right: 40px;
  }
  .pages .hero .hero-content .hero-text {
    display: block;
    margin-top: 5px;
  }
  .industry-pages .box-img {
    position: relative;
    padding: 50px 20px;
  }
  .industry-pages .box-img img {
    position: relative;
  }
  .products .bg-layer-two {
    width: 90%;
    height: 70%;
  }
  .products .product-boxes .box .box-content {
    padding-left: 20px;
  }
  .products .product-boxes .box .product-name {
    margin-top: 0;
  }
  .case-study .bg-layer-two {
    width: 540px;
  }
  .case-study .box-img {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 901px) {
  .pages .hero .hero-content {
    padding: 30px;
  }
  .platform-pages .hero .hero-content .content-left {
    width: 49%;
  }
  .pages .hero .hero-content .hero-header {
    font-size: 32px;
  }
  .pages .hero .hero-content .hero-header span {
    font-size: 65px;
  }
  .platform-pages .hero .hero-content .hero-text {
    font-size: 18px;
  }
  .use-cases .industry-video img {
    position: relative;
    top: 25%;
  }
  .training .section-header {
    width: 70%;
  }
  .training .section-description:before {
    width: 80%;
  }
  .platform-applications .section-title:before {
    width: 80%;
  }
  .platform-applications .section-title:after {
    width: 55%;
  }
  .platform-applications .pf-desc .pf-desc-inner {
    flex: 35%;
    margin: 0 4% 0 2%;
  }
  .platform-applications .pf-app .pf-app-inner {
    top: -300px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .case-study .flex-inner {
    margin: 2%;
  }
  .case-study .flex-inner:first-child {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1025px) {
  .pages .hero .hero-bg img {
    height: auto;
  }
  .pages .hero .hero-content {
    padding: 20px;
  }
  .platform-pages .hero .hero-content .content-left {
    width: 50%;
  }
  .pages .hero .hero-content .hero-header { 
    font-size: 45px;
  }
  .products .section-title:before {
      width: 45%;
  }
  .products .section-title:after {
    width: 35%;
  }
  .products .product-boxes .box  {
    width: 60%;
    margin: 30px 0 50px auto;
  }
  .products .product-boxes .box .box-img img {
    width: 100%;
  }
  .products .product-boxes .box:nth-child(2)  {
    width: 60%;
    margin: 50px auto 30px 0;
  }
  .case-study .box-img {
    padding-bottom: 0;
  }
  .case-study .bg-layer-two {
    width: 90%;
    height: 80%;
  }
  .platform-applications .pf-desc .pf-desc-inner {
    flex: 30%;
  }
}

@media only screen and (min-width: 1321px) {
  .pages .hero .hero-content .hero-text {
    font-size: 18px;
  }
  .platform-pages .hero .hero-content .hero-text {
    font-size: 22px;
  }
  .case-study .flex-container {
    width: 80%;
    margin: 0 auto;
  }
  .training .section-header {
    width: 50%;
  }
  .platform-applications .section-header {
    width: 60%;
  }
}

@media only screen and (min-width: 1601px) {
  .pages .hero .hero-content {
    padding: 50px;
  }
  .pages .hero .hero-content .hero-header {
    font-size: 55px;
    margin-bottom: 10px;
  }
  .pages .hero .hero-content .hero-header span {
    font-size: 88px;
  }
  .pages .hero .hero-content .hero-text {
    font-size: 22px;
  }
  .platform-pages .hero .hero-content .hero-text {
    font-size: 24px;
  } 
}

/*==========================
Contact Page
==========================*/

.contact-form {
  padding: 200px 0 100px;
}

.contact-form .section-title:after {
  width: 50%;
  height: 200%;
}

.contact-form .field-wrap .field {
  margin-top: 1%;
  margin-bottom: 1%;
}

.offices {
  padding: 0 0 100px;
} 
.offices .section-title:after {
  height: 140%;
}

.offices .description {
  margin: 0;
}

.offices .contact-details .description span {
  display: inline-block;
  width: 85px;
  margin-right: 5px;
}

.offices .office-boxes .box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.offices .box .box-content {
  min-width: 242px;
}

.offices .box .description {
  position: relative;
  line-height: 1.1;
}

.offices .office-boxes .box .location {
  font-size: 30px;
}

.offices .office-boxes .box .box-img img {
  min-width: 280px;
}

.offices .office-boxes .box > div {
  margin: 15px 0;
}

.offices .box .office-address-one {
  order: 1;
}

.offices .office-boxes .box-content .address {
  margin: 20px 0;
}

.offices .office-boxes .box-content .address:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 120%;
  top: -12px;
  left: -20px;
  background: url(../img/dots_pattern_grey.png) repeat;
  z-index: -1;
}

@media only screen and (max-width: 468px) {
  .contact-form .field-wrap {
    flex-wrap: wrap;
  }
  .field-wrap .field {
    flex: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .offices .main-container {
    width: 90%;
  }
}

@media only screen and (min-width: 469px) {
  .contact-form .section-title:before {
    left: -10%;
  }
  .contact-form .form {
    max-width: 700px;
  }
  .offices .contact-details .description span {
    margin-right: 10px;
  }
} 

@media only screen and (min-width: 601px) {
  .contact-form .section-title:after {
    width: 30%;
    left: -20px;
  }
  .offices .section-title:after {
    width: 65%;
    left: -80px;
  }   
  .offices .office-boxes .box .box-img {
    position: relative;
    padding: 20px;  
    z-index: 1;
    margin-left: auto;
  }
  .offices .office-boxes .box .box-img img {
    position: relative;
  }
  .contact-page .bg-layer-two {
    position: absolute;
    top: 0;  
    left: 0;
    width: 90%;
    height: 90%;
    opacity: 0.85;
    z-index: 0;
  }
  .office-address-one + .box-img .bg-layer-two {
    right: 0;
    left: auto;
  }
}

@media only screen and (min-width: 929px) {
  .offices .office-boxes .box .box-img {
    margin-left: 0;
  }
  .offices .box .office-address-one {
    order: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .contact-page .contact-form .form {
    margin-left: 13%;
  }
  .contact-form .section-title:after {
    width: 30%;
    left: -40px;
  }
  .offices .section-title:after {
    width: 60%;
  }
  .offices .office-boxes .box:first-child {
    justify-content: flex-end;
  }
  .offices .office-boxes .box-content {
    padding: 0 30px;
  }
  .offices .office-boxes .office-address-one {
    text-align: right;
  }
  .offices .office-boxes .box-content .address:before {
    left: -50px;
  }
}

@media only screen and (min-width: 1201px) {
  .contact-page .main-container {
    width: 70%;
  }
  .contact-form .section-title:after {
    width: 18%;
    height: 250%;
  }
}

@media only screen and (min-width: 1321px) {
  .contact-form .section-title:before {
    width: 80%;
  }
  .offices .section-title:after {
    width: 45%;
  }
}